/* 
	Authors: Arman, Ashmita, Mariel
	Date: 11/7/15
*/

body {
	background-color: #FFF8DC;
	border: 20px solid transparent;
    border-image: url(footstepSquare.png) 16% round;
}

#butt {
	width: 90px;
	height: 45px;
	vertical-align: middle;
	margin: auto;
	margin-top: 4%;
	background-image: url(EnterButton.png);
}

#butt:hover{
	background-image: url(EnterButtonHover.png);
}

#logo {
	text-align: center;
}

#logo1 {
	width: auto;
	height: auto;
	max-width: 300px;
	max-height: 300px;
}